<h2>Login Administracion</h2>
<div class=texto_centro>
    nombre Administrador: {{nomAdmin}}<br> clave administrador: {{claveAdmin}}
</div>
<form class="custom-form">
    <div class="form-group">
        <label>Nombre Administrador *</label>
        <input type="text" name="username" id="username" maxlength="6" pattern="[a-z]{1,6}"
         placeholder="introduzca nombre Administrador" required [(ngModel)]="username" 
         #usernameAdmin="ngModel">

        <div class="alert alert-danger" *ngIf="usernameAdmin.invalid && (usernameAdmin.dirty || usernameAdmin.touched)">
            <div *ngIf="usernameAdmin?.errors?.required">
                el Nombre del Administrador es obligatorio
            </div>
            <div *ngIf="usernameAdmin?.errors?.maxlength">
                6 caracteres maximo
            </div>
            <div *ngIf="usernameAdmin?.errors?.pattern">
                tienen que ser minusculas
            </div>  
        </div>
    </div>
    <div class="form-group">
        <label>Password *</label>
        <input type="text" name="clave" id="clave" minlength="6" maxlength="12"
         required placeholder="introduzca password" required [(ngModel)]="clave"
         #claveValidacion="ngModel" >
         <div class="alert alert-danger" *ngIf="claveValidacion.invalid && (claveValidacion.dirty || claveValidacion.touched)">
            <div *ngIf="claveValidacion?.errors?.required">
                el password es obligatorio
            </div>
            <div *ngIf="claveValidacion?.errors?.minlength">
                El minimo son 6 caracterees
            </div>
            
        </div>
    </div>   
    <div *ngIf="sw==true">
        <div class="alert alert-danger" >
            {{mensage}}
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success buttonlogin" (click)="logearse()">Logearse</button>
        <button class="btn btn-danger" (click)="cancelar()">Cancelar</button>
    </div> 
</form>
