<h2>Menu Administrador</h2>
<div class="container">
    <div class=" col-2 offset-5 ">
        <ul class="nav flex-column align-items-justfy"  >
            <li class="nav-item">
                <button class="btn btn-secondary" (click)='listaUsuarios()'>Gestion Usuarios</button>
                <br><br>
            </li>
            <li class="nav-item">
                <button class="btn btn-secondary" (click)='listarMascota()'>Gestion Mascotas</button>
                <br><br>
            </li>    
            <li class="nav-item">    
                <button class="btn btn-danger" (click)='cerrarAdministracion()'>Salir Administrador</button>
                <br><br>
            </li>
        </ul>       
    </div>
</div>